# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
.pnpm-debug.log

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.out
*.err

# Build and dist outputs
dist/
build/
.cache/

# Docker artifacts
*.pid
*.seed
*.pid.lock

# Editor folders
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Redis dump
dump.rdb
